<!doctype html>
<html lang='en'>
    <head>
      <script type="text/javascript" src="./../static/restful.js"></script>
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
       <meta charset='utf-8'>
       <title>True Wireless Form</title>
       <style type="text/css">
         .submit_button{
           background-color: #63CFE3;
           color: white;
           border-radius: 5px;
         }
         h1, h2, h3, h4, h5, h6 {
           font-family: 'Lato';
         }
         #body_div {
           margin-top: 50px;
           margin-bottom: 50px;
           margin-right: 15%;
           margin-left: 15%;
         }
         ::placeholder {
           color: red !important;
         }
        </style>
    </head>
    <body>
      <div id="body_div">
      <br>

        <br>
        <h2>Pull rss feeds</h2>

        <form id="status_form">

        <div class="form-group">
            <label for="status_manychatID">ManyChat ID:</label>
            <input type="text" class="form-control" id="status_manychatID">
        </div>

        <div class="form-group">
            <label for="status_check_id">Eligibility Check ID:</label>
            <input type="text" class="form-control" id="status_check_id">
        </div>
        </form>

        <button class="submit_button" id="status_submit">Pull and log feeds</button>

        <h5 id="status"></h5>
        <h5 id="status_failures"></h5>

        <br>
       
      

  

    <script type="text/javascript"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


</html>