<!doctype html>
<html lang='en'>
    <head>
      <link rel="icon" 
      type="image/png" 
      href="https://gotruewireless.com/wp-content/themes/provisions/images/TW_Logo_white_2.png">
        <script type="text/javascript" src="./../static/restful.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <meta charset='utf-8'>
        <title>True Wireless Form</title>
        <style type="text/css">
          .submit_button{
            background-color: #63CFE3;
            color: white;
            border-radius: 5px;
          }
          h1, h2, h3, h4, h5, h6 {
            font-family: 'Lato';
          }
          #body_div {
            margin-top: 50px;
            margin-bottom: 10px;
            margin-right: 15%;
            margin-left: 15%;
          }
        </style>
    </head>
    <body>
      <div id="body_div">
      <br>
      <h2>Step 1: Applicational for National Verifier </h2>  
        
        <form id= "inital_nv" >

          <div class="form-group">

            <label for="benefits">Please Select What Benefits They Recieve:</label>

            <select class="form-control" id="benefits" placeholer= "Optional">
              <option>No Benefits</option>
              <option>Medicaid/CMS</option>
              <option>FPHA/HUD</option>
              <option>SNAP</option>
              <option>Veteran's Pension</option>
              <option>Tribal Programs</option>
              <option>Low Income Qualify</option>
            </select>
          
          </div>
          

          <div class="form-group">
            <label for="fname">First Name:</label>
            <input type="text" class="form-control" id="fname" placeholder="John">
          </div>
           
          <div class="form-group">
            <label for="lname">Last Name:</label>
            <input type="text" class="form-control" id="lname" placeholder="Doe">
          </div>

          <div class="form-group">
            <label for="phone">Phone Number:</label>
            <input type="text" class="form-control" id="phone" placeholder="1112223333">
          </div>
          
          <div class="form-group">
            <label for="dob">Date of Birth:</label>
            <input type="text" class="form-control" id="dob" placeholder="mm/dd/yyyy">
          </div>
          
          <div class="form-group">
            <label for="tribalID">Tribal ID (optional):</label>
            <input type="text" class="form-control" id="tribalID">
          </div>
          
          <div class="form-group">
            <label for="address">Street Address:</label>
            <input type="text" class="form-control" id="address" placeholder="336 SW Lane Way">
          </div>
          
          <div class="form-group">
            <label for="city">City:</label>
            <input type="text" class="form-control" id="city" placeholder="Portland">
          </div>

          <div class="form-group">
            <label for="state">State:</label>
            <input type="text" class="form-control" id="state" placeholder="OR">
          </div>

          <div class="form-group">
            <label for="zip">zip code:</label>
            <input type="text" class="form-control" id="zip" placeholder="12345">
          </div>
          
          <div class="form-group">
            <label for="ssn">Last 4 digits of SSN:</label>
            <input type="text" class="form-control" id="ssn" placeholder="1234">
          </div>
          
       </form>

        <br>
        <button class="submit_button" id="nv_submit">Submit to National Verifier</button>

        <br>
        <h2>Step 2: Submit Status Check</h2>
        <button class="submit_button" id="status_submit">Submit Status Check</button>

        <br>
        <h2>Step 3: Submit Application to Ucare</h2>
        <button class="submit_button" id="ucare_submit">Submit to Ucare</button>
      </div>
    </body>

    <script type="text/javascript"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


</html>